@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
/*Typography and imports (Google Fonts) */
h1 {
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #916767;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
}

p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 16px;
  color: #010334;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
}

p {
  color: #222;
  line-height: 27px;
}

.container {
  max-width: 1400px;
  margin: 2em auto;
}

.image-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
}

.highlight-text {
  color: #010334;
}

i {
  margin-right: 5px;
}

.mobile-menu, .mobile-header {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  text-decoration: none;
  font-weight: 700;
  color: white;
}

header {
  position: sticky;
  z-index: 4;
  top: 0;
  width: 100%;
  background-color: #4e4f50;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}
header .inner-header {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner-header nav {
  display: flex;
  align-items: center;
  gap: 2em;
}
header .inner-header nav ul {
  padding-left: 0;
  display: flex;
  gap: 3em;
}
header .inner-header nav ul li {
  list-style-type: none;
  display: flex;
  line-height: initial;
}
header .inner-header nav ul a {
  white-space: nowrap;
  color: white;
  font-weight: 300;
  text-decoration: none;
}
header .inner-header nav ul a:hover {
  color: #916767;
  transition: 500ms;
}

@media (max-width: 1000px) {
  .container {
    margin-top: 0;
  }

  .introduction .introduction-item {
    gap: 2em;
    flex-direction: column;
  }
  main p {
    width: 90%;
  }
}
@media (max-width: 800px) {
  /*GENERAL*/
  .intro-text h2 {
    text-align: center;
    color: white;
    font-weight: 300 !important;
  }

  .desktop-header {
    display: none !important;
  }

  .mobile-header {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
  }

  .mobile-menu {
    position: fixed;
    transform: translateX(-100vw);
    transition: all 1s;
    width: 90vw;
    max-width: 90%;
    height: 100vh;
    max-height: 100%;
    background-color: white;
    z-index: 3;
  }
  .mobile-menu nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .mobile-menu nav ul {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
  }
  .mobile-menu nav ul li {
    width: 80%;
    text-align: center;
    padding: 2em 0 2em 0;
    border-bottom: 1px solid #edeff1;
  }
  .mobile-menu nav ul a {
    text-decoration: none;
    height: 60px;
    font-size: 16px;
    padding: 20px 0;
    font-weight: 600;
    width: auto;
    color: black;
  }
  .mobile-menu .mobile-media-links {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .mobile-menu .mobile-media-links ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
  }
  .mobile-menu .mobile-media-links ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #edeff1;
    border-right: 1px solid #edeff1;
  }
  .mobile-menu .mobile-media-links ul i {
    font-size: 2em;
  }
  .mobile-menu .mobile-media-links ul a {
    color: #e6b0b0;
    text-decoration: none;
    padding: 1.5em;
    font-size: 1em;
  }

  .active {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translateX(0px) !important;
    transition: all 1s;
  }

  main {
    margin: 0 !important;
  }
  main .image-overlay h1 {
    white-space: initial;
    text-align: center;
  }
  main .image-overlay h2 {
    max-width: 80%;
  }
  main .image-overlay .intro-text {
    align-items: center;
    width: 90%;
    gap: 2em;
    margin: 0 auto !important;
  }

  #hamburger-menu {
    z-index: 5;
    width: 30px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #hamburger-menu span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #hamburger-menu span:nth-child(1) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #hamburger-menu span:nth-child(2) {
    top: 22px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #hamburger-menu span:nth-child(3) {
    top: 32px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #hamburger-menu.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
    left: 4px;
  }

  #hamburger-menu.open span:nth-child(2) {
    width: 0;
    opacity: 0;
  }

  #hamburger-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 28px;
    left: 4px;
  }

  .open {
    color: black;
  }

  .price-list {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .price-list ul {
    width: 100% !important;
  }

  .unique-selling-points .inner-usp {
    overflow: scroll;
  }

  .information {
    margin: 0 !important;
    overflow: scroll;
  }
  .information ul {
    justify-content: initial !important;
  }

  .introduction-item {
    margin: 0 !important;
  }
  .introduction-item img {
    max-width: 100%;
    height: initial;
  }

  footer .footer-links ul {
    flex-direction: column;
  }
}
.highlight-text-brand {
  color: #e6b0b0 !important;
  font-weight: 700;
}

.unique-selling-points {
  width: 100%;
  background-color: #f8f8ff;
}
.unique-selling-points .inner-usp {
  max-width: 1400px;
  margin: 0 auto;
}
.unique-selling-points .inner-usp ul {
  margin: 0;
  padding: 1em 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.unique-selling-points .inner-usp ul li {
  white-space: nowrap;
  display: flex;
  padding: 0 1em;
}
.unique-selling-points .inner-usp ul li:before {
  content: "✓";
  line-height: 19px;
  color: #00b900;
  margin-right: 5px;
  font-weight: bold;
}

main {
  position: relative;
  margin: 2em auto 0 auto;
  background-image: url("../assets/images/header-image.webp");
  background-position-x: center;
  max-width: 1400px;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}
main .image-overlay {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main .image-overlay .intro-text {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5em;
  flex: 2;
}
main .image-overlay .intro-text h1 {
  font-size: 4em;
  color: white;
  margin: 0;
}
main .image-overlay .intro-text h2 {
  white-space: unset;
  color: white;
}
main .image-overlay .intro-text p {
  margin: 0;
  color: white;
  font-style: italic;
}
main .image-overlay .opening-times {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.4);
  flex: 1;
}
main .image-overlay .opening-times h2 {
  color: white;
}

.price-list {
  display: flex;
  flex-direction: row;
}
.price-list ul {
  width: 80%;
}
.price-list li {
  display: flex;
  justify-content: space-between;
}
.price-list .service-price {
  font-weight: bold;
}

.information {
  background-color: whitesmoke;
}
.information ul {
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
.information ul li {
  padding: 2em;
  list-style-type: none;
  color: #010334;
  white-space: nowrap;
}
.information ul li a {
  text-decoration: none;
  color: #010334;
}

.reverse .text .price-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.reverse .text .price-list .bold {
  font-weight: 700;
}
.reverse .text .price-list ul {
  list-style-type: none;
  padding-left: 0;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.introduction .introduction-item {
  display: flex;
  justify-content: space-between;
}
.introduction .introduction-item .image-gallery {
  display: flex;
  justify-content: center;
}
.introduction .introduction-item .image-gallery img {
  position: relative;
}
.introduction .introduction-item .text {
  padding: 0 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #1a1a1a;
  font-family: "Open Sans", Sans-serif, serif;
  line-height: 1.5;
}
.introduction .introduction-item .text .paragraphs {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1em;
}
.introduction .introduction-item .text h2 {
  margin: 0;
}
.introduction .introduction-item .text p {
  margin: 0;
}

i {
  color: #e6b0b0;
}

.reverse {
  flex-direction: row-reverse;
}

.google-maps {
  max-width: 1400px;
  height: 400px;
  margin: 0 auto;
}
.google-maps iframe {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  background-color: #f8f8ff;
}
footer .inner-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  max-width: 1400px;
  margin: 0 auto;
}
footer .inner-footer .copyright a {
  text-decoration: none;
  color: black;
}
footer .inner-footer .footer-links ul {
  display: flex;
  gap: 2em;
}
footer .inner-footer .footer-links ul li {
  list-style-type: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.button {
  background-color: transparent;
  text-decoration: none;
  padding: 1em;
  white-space: nowrap;
}
.button__gold {
  border: 1px solid white;
  color: white;
  width: fit-content;
  width: -moz-fit-content;
}
.button__gold:hover {
  transition: 300ms;
  background-color: #916767;
  border: 1px solid #916767;
  color: #fff;
}
.button__white {
  color: #fff;
}
.button__white:hover {
  color: #916767;
  transition: 300ms;
}
.button__pink {
  background-color: #e6b0b0;
  color: white;
  border: 1px solid #e6b0b0;
  width: fit-content;
}
.button__pink:hover {
  color: #e6b0b0;
  transition: 300ms;
  background-color: white;
}

.overlay {
  position: fixed;
  top: 0;
  opacity: 0;
  transition: opacity 1s;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.overlay__active {
  width: 100vw;
  height: 100vh;
  display: block;
  opacity: 100;
  transition: opacity 1s;
}

table {
  color: white;
}
table td:first-child {
  padding-right: 3em;
}

/*# sourceMappingURL=main.css.map */
