@media (max-width: 1000px) {
  .introduction{
    .introduction-item{
      gap: 2em;
      img{
        width: 100%;
        max-width: 100% !important;
      }
      flex-direction: column;
    }

  }



}