@media (max-width: 1000px) {
  .container {
    margin-top: 0;
  }

  .introduction {
    .introduction-item {
      gap: 2em;

      img {

      }

      flex-direction: column;

    }

  }
  main{
    p{
      width: 90%
    }
  }


}