.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: sticky;
  z-index: 4;
  top: 0;
  width: 100%;
  //background-color: whitesmoke;
  //color: black;
  background-color: #4e4f50;
  //background-color: #798086;
  color: white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 9%);
  .inner-header {
    max-width: $desktop-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
      display: flex;
      align-items: center;
      gap: 2em;

      ul {
        padding-left: 0;
        display: flex;
        gap: 3em;

        li {
          list-style-type: none;
          display: flex;
          line-height: initial;
        }

        a {
          white-space: nowrap;
          color: white;

          font-weight: 300;
          text-decoration: none;
          &:hover{
            color: $highlight-color;
            transition: 500ms;
          }
        }
      }
    }
  }
}

