.button{
  background-color: transparent;
  //background-color: #ff7BBF;
  text-decoration: none;
  padding: 1em;
  white-space: nowrap;

  &__gold{
    border: 1px solid white;
    color: white;
    width: fit-content;
    width: -moz-fit-content;
    &:hover{
      transition: 300ms;
      background-color: $highlight-color;
      border: 1px solid $highlight-color;
      color: #fff;
    }
  }

  &__white{
    //border: 1px solid #fff;
    color: #fff;
    &:hover{
      color: $highlight-color;
      transition: 300ms;
      //background-color: #b69e59;
      //border: 1px solid #b69e59;
    }
  }

  &__pink{
    background-color: #e6b0b0;
    color: black;
    border: 1px solid #e6b0b0;
    width: fit-content;
    &:hover{
      color: #e6b0b0;
      transition: 300ms;
      background-color: white;

    }
  }
}

