body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
}

.highlight-text {
  color: #b69e59;
}

i {
  margin-right: 5px;
}